/* Import all scss files  */
/* 	BORDER RADIUS 	*/
/* OPACITY */
/* CENTER BLOCK ELEMENTS */
/* ANIMATION */
/* VERTICAL ALIGN */
/* For Tablet Only */
/* For Desktop Only */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.s-size {
  font-size: 0.8em; }

.n-size {
  font-size: 1.0em; }

.l-size {
  font-size: 1.2em; }

.xl-size {
  font-size: 1.4em; }

.uc {
  text-transform: uppercase; }

.lc {
  text-transform: lowercase; }

.bold {
  font-weight: 600; }

.thin {
  font-weight: 300; }

.p-10 {
  padding: 10px; }

.p-15 {
  padding: 15px; }

.p-20 {
  padding: 20px; }

.p-25 {
  padding: 25px; }

.m-10 {
  margin: 10px; }

.m-15 {
  margin: 15px; }

.m-20 {
  margin: 20px; }

.m-25 {
  margin: 25px; }

.c-align {
  text-align: center; }

.l-align {
  text-align: left; }

.r-align {
  text-align: right; }

.clear {
  clear: both; }

.r-float {
  float: right; }

.l-float {
  float: left; }

.hidden {
  display: none; }

.shown {
  display: block; }

.shown-inline {
  display: inline-block; }

.invisible {
  visibility: hidden; }

a:link, a:active, a:visited {
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out; }

html, body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: arial;
  background-color: #222222;
  font-size: 100%;
  height: 100%; }

#mobile-header {
  display: none; }

@media only screen and (max-width: 767px) {
  #mobile-header {
    display: block; } }
body {
  font-family: roboto;
  font-weight: 300; }

.wrapper {
  max-width: 1000px;
  margin: auto; }

#clockdiv {
  max-width: 600px;
  margin: 200px auto;
  background-color: #151515; }
  #clockdiv div.countdown-ele {
    width: 25%;
    padding: 10px;
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    color: #aaa; }
    #clockdiv div.countdown-ele span.countdown-big {
      font-size: 5.0em;
      margin-bottom: 10px;
      color: white;
      font-weight: 200; }

header {
  background-color: #151515;
  padding: 10px 0; }
  header img.IM16-logo {
    height: 80px;
    width: 150px;
    background-color: #2f2f2f;
    border-width: 0px;
    float: left; }
  header nav.pure-menu-horizontal {
    float: right;
    width: auto;
    font-size: 1.2em;
    margin-top: 18px; }
    header nav.pure-menu-horizontal li a {
      text-transform: uppercase; }
      header nav.pure-menu-horizontal li a:hover {
        background-color: transparent;
        color: white; }
